@font-face {
  font-family: "Alice";
  src: url(../fonts/Alice-Regular.ttf);
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy-Black";
  src: url(../fonts/Gilroy-Black.ttf);
}
@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url(../fonts/Gilroy-ExtraBold.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

body {
  font-size: 16px;
  margin: 0 auto;
}
.adbeexpert {
  max-width: 1158px;
  margin: 100px 85px 20px;
  color: #fafefe;
  text-align: center;
}
.adbeexpertheading {
  font-family: "Alice", sans-serif;
  font-size: 3em;
  margin-bottom: 40px;
}
.adbeexpertwords {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 1.05em;
  line-height: 36px;
margin-bottom: 100px;
}
.adbeexpertReg {
  border: 1px solid #fafefe;
  border-radius: 32px;
  padding: 12px 25px;
  text-decoration: none;
}
.adbeexpertReg span {
 font-family: "Gilroy-Bold", sans-serif;
  font-size: 16px;
  color: #fafefe;
}
.business {
    margin-inline: 85px;
    margin-top: 110px;
}
.businessadone, .businessadtwo, .businesschtwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 140px;
}
.Badoneheading, .Badtwoheading {
    font-family: "Alice", sans-serif;
    font-size: 2em;
    line-height: 36px;
}
.Badonewords, .Badtwowords {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 1em;
    line-height: 36px;
}
.businessadtwo, .businesschtwo {
    margin-bottom: 140px;
}
.ljo {
    font-family: "Alice", sans-serif;
    font-size: 2em;
    line-height: 36px;
    text-align: center; 
}
.stussay {
    margin-top: 140px;
    margin-bottom: 150px;
}
.posbar {
  border: 0.2px solid rgba(2, 151, 157, 1);
  font-size: 14px;
  font-family: "Gilroy-Regular", sans-serif;
  line-height: 32px;
  text-align: flex-start;
padding-top: 15px;
padding-inline: 15px;
padding-bottom: 15px;
  color: #000b0c;
max-width: 610px;
}
.postitle {
font-family: "Gilroy-Medium", sans-serif;
color: rgba(2, 74, 157, 1);
}

.postime span {
  color: #000b0c;
  margin-inline: 5px;
  background-color: #EAF0F6;
  padding: 8px;
  max-width: 100px; 
  text-align: center;
}
.posfrom {
  display: flex;
}
.posfrom span {
font-size: 12px;
color: #024A9D;
}
.origin {
margin-left: auto;
}
.posdesign {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
.IT {
  max-width: 295px;
}
.coursename {
font-family: "Gilroy-Regular", sans-serif;
font-size: 18px;
line-height: 36px;
text-align: center;
align-items: center;
}
.adcdes {                
box-shadow: 1px 5px 25px 0px rgba(2, 151, 157, 0.1);
border: 0.5px solid #fafefe !important;
background: rgba(250, 254, 254, 1);
}
.chbeexpert {
  max-width: 684px;
  margin: 70px 85px 20px;
  color: #fafefe;
  text-align: start;
}
.chbeexpertheading {
  font-family: "Alice", sans-serif;
  font-size: 3em;
  margin-bottom: 20px;
}
.chbeexpertwords {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 1.05em;
  line-height: 36px;
margin-bottom: 40px;
}
.chbeexpertReg {
  border: 1px solid #fafefe;
  border-radius: 32px;
  padding: 12px 25px;
  text-decoration: none;
}
.chbeexpertReg span {
 font-family: "Gilroy-Bold", sans-serif;
  font-size: 16px;
  color: #fafefe;
}
.chbubg {
  background-color: #EAF6F6;
  margin-inline: -85px;
  padding-inline-start: 85px;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}
.Badoneph, .Badtwoph {
  display: inline-block; 
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-inline: 12%;
}
.Bchoneph, .Bchtwoph, .Bchthreeph {
  display: inline-block; 
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-inline: 12%;
}

@media screen and (max-width: 900px) {
.businessadone, .businessadtwo, .businesschtwo {
    grid-template-columns: 1fr;
    display: flex;
flex-direction: column;
row-gap: 50px;
}

.chbubg {
  padding-inline: 85px;
}
}
@media screen and (max-width: 780px) {
.posdesign {
    grid-template-columns: 1fr;
    display: flex;
flex-direction: column;
}
.adbeexpert, .chbeexpert {
  margin: 40px 40px 20px;
}
.adbeexpertwords, .chbeexpertwords {
display: none;
}
.adbeexpertheading, .chbeexpertheadig {
  font-size: 2em;
}
}
@media screen and (max-width: 600px) {
.posdesign, .businessadone, .businessadtwo, .ljo, .stussay {
  margin-inline: -45px;
}

.chbubg {
  padding-inline: 40px;
}
.coa {
  font-size: 1.8em;
}
.swiper-navigation__prev, .swiper-navigation__next {
  font-size: 36px;
}
}
@media screen and (max-width: 470px) {
.coa {
  font-size: 1.6em;
}
.swiper-navigation__prev, .swiper-navigation__next {
  font-size: 32px;
}
.Badoneheading, .Badtwoheading, .ljo {
font-size: 1.8em;
}
}
@media screen and (max-width: 430px) {
.business {
  margin-inline: 65px;
}
.coa {
  font-size: 1.5em;
}
.swiper-navigation__prev, .swiper-navigation__next {
  font-size: 30px;
}
}