@font-face {
  font-family: "Alice";
  src: url(../fonts/Alice-Regular.ttf);
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy-Black";
  src: url(../fonts/Gilroy-Black.ttf);
}
@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url(../fonts/Gilroy-ExtraBold.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

.coaches {
  position: relative;
  padding-top: 3%;
  padding-inline: 7.5%;
}
.card {
  border: 0.13px solid #02979d;
  width: 100%;
}
.coachsl {
max-width: 219.82px;
  min-height: 230px;
}
.coachname {
 font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  color: #02979d;
  text-align: center;
}
.major {
font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  color: #D74E7F;
  text-align: center;
}
.swiper-navigationprev, .swiper-navigationnext {
  position: relative;
  top: 0%;
  transform: translateY(0%);
  cursor: pointer;
  z-index: 10;
  width: 32px;
  height: 32px;
  background-color: #02979d;
  color: #fafefe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
.swiper-navigationprev {
  left: 88%;
  bottom: 323px;
}

.swiper-navigationnext {
  right: -95%;
  bottom: 355px;
}
.choosecoach {
  margin-inline: 85px;
  margin-top: 80px;
  margin-bottom: 100px;
}
.coa {
  font-family: "Alice", sans-serif;
  font-size: 2em;
}
.choosecoach-child {
  margin-inline: 85px;
  margin-top: 80px;
  margin-bottom: 100px;

}
.backcolor {
  background-image: repeating-linear-gradient(to bottom right,#FDF4F7, #ffffff);
}

@media screen and (max-width: 1200px) {
  .swiper-navigationprev {
bottom: 290px;
  }
  .swiper-navigationnext {
bottom: 322px;
  }
}

@media screen and (max-width: 630px) {
.swiper-navigationprev {
  left: 82%;
}
.coaches {
  padding-inline: 4%;
}
}
@media screen and (max-width: 430px) {
  .swiper-navigationprev, .swiper-navigationnext {
    display: none;
  }
}