@font-face {
  font-family: "Alice";
  src: url(../fonts/Alice-Regular.ttf);
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy-Black";
  src: url(../fonts/Gilroy-Black.ttf);
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

body {
  font-size: 16px;
  margin: 0 auto;
}
.contain,
.kids,
.seminars {
  max-width: 1800px;
  width: 100%;
}
.adultspsy,
.childpsy,
.sliders {
  margin-inline: 85px;
}
.happy {
  max-width: 664px;
  margin: 75px auto;
  backdrop-filter: blur(10px) brightness(90%);
  padding: 32px 60px 47px;
  text-align: center;
}
.beHappy {
  font-family: "Alice", sans-serif;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 25px;
  width: 100%;
}
.getHelp {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 1em;
  line-height: 36px;
  width: 100%;
  color: #fafefe;
}
.f {
  color: #fafefe;
}
.s {
  color: #eda12f;
}
.topic {
  font-family: "Alice", sans-serif;
  font-size: 2em;
  line-height: 36px;
  color: #000b0c;
  margin-top: 100px;
  margin-bottom: 65px;
}
.subjects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}
.consultants {
  position: relative;
  padding-top: 3%;
  padding-inline: 7.5%;
  padding-bottom: 3%;
  margin-inline: -85px !important;
  margin-bottom: 150px;
}
.cons {
  font-family: "Alice", sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: #000b0c;
  margin-bottom: 3%;
  text-transform: uppercase;
}
.dr {
  max-width: 295px;
  width: 100%;
}
.constext {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 1.125em;
  line-height: 32px;
  margin-bottom: 3%;
}
.surname {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 1.25em;
  line-height: 25px;
  color: #02979d;
  padding-top: 26px;
  padding-bottom: 26px;
}
.card {
  border: 0.13px solid #02979d;
  gap: 20px;
  width: 100%;
  border-radius: 5%;
}
.swiper-navigation_prev,
.swiper-navigation_next {
  position: relative;
  top: 0%;
  transform: translateY(0%);
  cursor: pointer;
  z-index: 10;
  width: 36px;
  height: 36px;
  background-color: #02979d;
  color: #fafefe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
.swiper-navigation_prev {
  left: 87%;
  bottom: 416px;
}

.swiper-navigation_next {
  right: -92%;
  bottom: 452px;
}
figure {
  text-align: center;
}
.label {
  width: 133px;
  height: 172.2px;
}
.captionl {
  display: block;
  margin: 0 auto;
  font-family: "Alice", sans-serif;
  font-size: 1.175em;
  line-height: 32px;
  color: #000b0c;
  margin-top: 10px;
  margin-bottom: 48px;
}
.meet,
.article,
.article2child,
.meetc {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.article2 {
  display: grid;
  grid-template-columns: 4fr 8fr;
}
.meetad {
  width: 100%;
}
.articlead {
  padding-inline-end: 63px;
}
.meetch {
  padding-inline-end: 18px;
  width: 100%;
}
.meetchph {
  margin-inline-end: -85px;
}
.meetph {
  margin-inline-end: -85px;
}
.article2ad {
  padding-inline-start: 70px;
  padding-top: 140.5px;
  width: 100%;
}
.article2ch {
  padding-inline-start: 70px;
  padding-top: 78px;
  width: 100%;
}
.meetph,
.article2ph {
  margin-inline-start: -85px;
}
.meettitle,
.articletitle,
.article2title {
  font-family: "Alice", sans-serif;
  font-size: 32px;
  line-height: 36px;
  color: #000b0c;
  margin-bottom: 30px;
}
.meetcontent,
.articlecontent,
.article2content {
  font-family: "Girloy-Regular", sans-serif;
  font-size: 1.1em;
  line-height: 36px;
  color: #000b0c;
  width: 100%;
  height: auto;
}
.part3 {
  margin-top: 158px;
  margin-bottom: 150px;
}
.part5 {
  margin-top: 59.5px;
  margin-bottom: 157px;
}
.part6 {
  margin-bottom: 150px;
}
.cardp {
  border: 0.15px Solid rgba(2, 151, 157, 0.7);
  max-width: 364.82px;
  min-height: 360px;
  padding-inline: 6%;
  box-shadow: 5px 5px 10px rgba(2, 151, 157, 0.1);
}
.patient {
  width: 82.08px;
  height: 82.08px;
  margin-top: 8.87%;
}
.comment {
  margin-top: 2.5%;
  font-family: "Girloy-Regular", sans-serif;
  font-size:15px;
  line-height: 24px;
  color: #000b0c;
}
.patientName {
  font-family: "Girloy-Regular", sans-serif;
  font-size: 1.1em;
  line-height: 32px;
  color: #02979d;
  margin-top: 3.5%;
}
.date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 54%;
  font-family: "Girloy-Regular", sans-serif;
  font-size: 15px;
  line-height: 32px;
  color: #d74e7f;
}
.patientSay {
  font-family: "Alice", sans-serif;
  font-size: 2em;
  line-height: 40px;
  color: #000b0c;
  margin-bottom: 38px;
}
.swiper-navigation___prev,
.swiper-navigation___next {
  position: relative;
  top: 0%;
  transform: translateY(120%);
  cursor: pointer;
  z-index: 10;
  width: 36px;
  height: 36px;
  background-color: #02979d;
  color: #fafefe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
.swiper-navigation___prev {
  left: 47%;
}

.swiper-navigation___next {
  right: -52%;
  bottom: 38px;
}

.downdesign {
  width: 100%;
}
.psychservices {
  font-family: "Alice", sans-serif;
  font-size: 2em;
  line-height: 40px;
  color: #000b0c;
  margin-bottom: 60px;
  margin-top: 54.34px;
}
.partb {
  margin-top: 100px;
  margin-bottom: 155px;
}
.partd {
  margin-bottom: 150px;
}
.parte {
  margin-bottom: 174px;
}
.partf {
  margin-bottom: 150px;
}
.see {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.125em;
  line-height: 21px;
  color: #fafefe;
}
.seeAll {
  background-color: #02979d;
  border-radius: 30px;
  max-width: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-inline: 43%;
  margin-bottom: -25px;
  text-decoration: none;
}
.lets {
  font-family: "Alice", sans-serif;
  font-size: 2.5em;
  line-height: 60px;
  color: #000b0c;
  margin-top: -365px;
  margin-bottom: 46px;
  width: 100%;
}
.enjoy {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 1em;
  line-height: 36px;
  color: #000b0c;
  margin-bottom: 270px;
  width: 100%;
}
.spzseminars {
  margin-top: 140px;
}

@media screen and (max-width: 1360px) {
  .subjects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }
  .captionl {
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 1000px) {
  .swiper-navigation_next,
  .swiper-navigation_prev,
  .swiper-navigation___prev,
  .swiper-navigation___next {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .subjects {
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .captionl {
    margin-bottom: 20%;
  }
  .meet,
  .article,
  .article2,
  .article2child {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
  .meetph {
    margin-inline-start: 50px;
    margin-bottom: 8%;
  }
}
@media screen and (max-width: 800px) {
  .getHelp {
    display: none;
  }
  .beHappy {
    font-size: 28px;
  }
}
@media screen and (max-width: 680px) {
  .subjects {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
  .label {
    width: 100%;
    margin-inline-start: -5%;
  }
  .captionl {
    margin-bottom: 20%;
  }
  .article2ad {
    margin-inline-start: -50px;
    padding-top: -130px;
  }
  .seeAll {
    background-color: #02979d;
    border-radius: 30px;
    max-width: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-inline: 40%;
    text-decoration: none;
  }
}
@media screen and (max-width: 440px) {
  .adultspsy,
  .childpsy {
    margin-inline: 40px;
  }
  .consultants {
    padding-inline: 60px;
  }
}
@media screen and (max-width: 400px) {
  .consultants {
    padding-inline: 100px;
  }
}
@media screen and (max-width: 390px) {
  .happy {
    display: none;
  }
}
