
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
  src: url(../fonts/Gilroy-Regular.woff);
  src: url(../fonts/Gilroy-Regular.eot);
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/Gilroy-Bold.ttf);
  src: url(../fonts/Gilroy-Bold.woff);
  src: url(../fonts/Gilroy-Bold.eot);
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy-Black";
  src: url(../fonts/Gilroy-Black.ttf);
  src: url(../fonts/Gilroy-Black.woff);
  src: url(../fonts/Gilroy-Black.eot);
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.ttf);
  src: url(../fonts/Gilroy-Medium.woff);
  src: url(../fonts/Gilroy-Medium.eot);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy-SemiBold.ttf);
  src: url(../fonts/Gilroy-SemiBold.woff);
  src: url(../fonts/Gilroy-SemiBold.eot);
}

body {
  font-size: 16px;
  margin: 0 auto;
  max-width: 1800px;
}
.containerFluid {
 
  width: 100%;
}
.maincontent {
  margin-inline-start: 100px;
  margin-inline-end: 100px;
} 
.Dep {
  max-width: 243px;
  height: 46px;
  font-family: "Alice", sans-serif;
  font-size: 2.5em;
  line-height: 46px;
  text-transform: uppercase;
  color: #000b0c;
  margin-top: 140px;
  margin-bottom: 30px;
}
.content {
  text-align: justify;
  height: 160px;
  font-family: "Gilroy-Regular";
  font-size: 24px;
  line-height: 40px;
  color: #000b0c;
  margin-top: 30px;
  margin-bottom: 100px;
}
.main {
  display: grid;
  grid-template-columns: 4fr 7fr;
  margin-bottom: 1425px;
  width: 100%;
  margin-top: 20%;
}
.labell {
  margin-inline-start: 26px;
  width: 100%;
  top: 5px;
  font-family: "Gilroy-Regular";
  font-size: 18px;
  line-height: 40px;
  color: #000b0c;
}
.title {
  width: 88px;
  height: 40px;
  margin-inline-start: 26px;
  top: 19px;
  font-family: "Gilroy-Regular";
  font-size: 20px;
  line-height: 40px;
  text-transform: capitalize;
  background: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.box {
  box-sizing: border-box;
  width: 100%;
  margin-inline-end: 20px;
  padding-bottom: 43px;
  background: #fafefe;
  border: 0.2px solid #02979d;
  box-shadow: 0px 1px 25px rgba(2, 151, 157, 0.1);
}
.filter {
  width: 65px;
  height: 40px;
  margin-inline-start: 26px;
  margin-bottom: 26px;
  margin-top: 12px;
  font-family: "Gilroy-SemiBold";
  font-size: 24px;
  line-height: 40px;
  background: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.threeitems {
  margin-bottom: 1.5rem;
  margin-inline-start: 10px;
  gap: 10px;
}
.normal {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.top {
  width: 172px;
  height: 56px;
  background: #fafefe;
  border-radius: 10px;
  border: 0.5px solid #02979d;
}
.Trated {
  max-width: 88.83px;
  width: 100%;
  height: 40px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
  align-items: center;
  color: #000b0c;
}
.phname {
  border-radius: 10px;
  border: 0.5px solid #02979d;
  height: 56px;
  width: 429px;
}
::placeholderr {
  font-family: "Gilroy-Regular", sans-serif;
  padding-inline-start: 5%;
}
.find {
  width: 129px;
  height: 56px;
  background-color: #02979d;
  color: #fafefe;
  border: 0.5px solid #02979d;
  border-radius: 10px;
  margin-inline-start: -129px;
  font-size: 20px;
  font-family: "Gilroy-Bold", sans-serif;
  padding-top: 1%;
}
.fitext {
  font-family: "Gilroy-bold", sans-serif;
  width: 65px;
  height: 25px;
  line-height: 100%;
  font-size: 20px;
  padding-inline-start: 20%;
}
.number {
  max-width: 170px;
  height: 40px;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #02979d;
}
.short {
  display: none;
}
.bar {
  display: grid;
  grid-template-columns: 7fr 13fr;
  box-sizing: border-box;
  margin-top: 26px;
  margin-bottom: 20px;
  max-width: 820px;
  width: 100%;
  height: 100%;
  border-width: 0.2px;
  box-shadow: 0px 1px 25px rgba(2, 151, 157, 0.1);
}
.bigbar {
  display: grid;
  grid-template-columns: 7fr 13fr;
  box-sizing: border-box;
  margin-top: 26px;
  margin-bottom: 20px;
  max-width: 1240px;
  padding-inline-end: 5%;
  width: 100%;
  height: 100%;
  border-width: 0.2px;
  box-shadow: 0px 1px 25px rgba(2, 151, 157, 0.1);
}
.container-fluid {
  display: grid;
  grid-template-columns: 10fr 5fr;
}
.hhh {
  grid-column: span 2;
}
.workField {
  display: none;
}
.justnow {
  font-family: "Gilroy-Bold", sans-serif;
  max-width: 156px;
  height: 25px;
  font-size: 20px;
  line-height: 23.44px;
  position: relative;
}
.counsel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 1rem;
  border-radius: 35px;
  border: 0.5px solid #02979d;
  background-color: #02979d;
  color: #ffffff;
  text-decoration: none;
}
.counsel:hover {
  color: #ffffff;
}
.drname {
  margin-top: 1.5rem;
  height: 24px;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 20px;
  line-height: 100%;
  vertical-align: top;
  color: #000b0c;
}
.dreducation {
  margin-top: 0.75rem;
  height: 19px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  vertical-align: top;
  color: #000b0c;
}
.star {
  width: 18px;
  height: 18px;
  margin-inline-end: 5px;
  margin-top: -4px;
}
.rate {
  margin-top: 1.5rem;
  width: 21px;
  height: 14px;
  padding-top: 20px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  text-align: left;
  color: #000b0c;
}
.experience {
  margin-top: 1.5rem;
  max-width: 160px;
  height: 19px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  line-height: 100%;
  text-align: left;
  margin-inline-start: 38px;
  color: #000b0c;
}

.field {
  font-family: "Gilroy-Regular", sans-serif;
  margin-top: 21px;
  font-size: 14px;
  line-height: 40px;
  vertical-align: center;
  color: #000b0c;
}
.bgfield1,
.bgfield2,
.bgfield3 {
  height: 40px;
  color: rgba(2, 151, 157, 0.08);
  background-color: #ecf7f7;
  margin-top: 23px;
  margin-inline-end: 8px;
}
.bgfield1 {
  width: 87px;
}
.bgfield2 {
  width: 64px;
}
.bgfield3 {
  width: 139px;
}
.workField {
  grid-column: span 2;
  display: flex;
  justify-content: flex-start;
  margin-inline: 8px;
}
.knowme {
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.aboutme,
.comments,
.weeklyplan {
  border: 1px solid #02979d;
  background-color: #fafefe;
}

.knowing {
  margin-bottom: 300px;
  margin-top: 80px;
}
.tx {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.25em;
  line-height: 23.44px;
  color: #02979d;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}
span.active {
  background-color: #02979d;
}
span.active .tx {
  color: #fff;
}
nav a.active {
  background-color: #02979d;
  color: #fafefe;
  text-decoration: none;
}
.aboutme {
  border-top-left-radius: 25px;
}
.weeklyplan {
  border-top-right-radius: 25px;
}
.explain {
  border: 0.2px solid #02979d;
  margin-inline: 100px;
  padding-top: 28px;
  padding-inline: 23px;
  padding-bottom: 32px;
}
.exp {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 1.5em;
  line-height: 40px;
}

@media screen and (max-width: 1200px) {
  .phname, .number {
    margin-top: 5%;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
  .box {
    margin-top: 20%;
  }
 .phname, .number {
    margin-top: 0;
  }
  .threeitems {
    margin-top: 10%;
  }
}
@media screen and (max-width: 800px) {
  .bar, .bigbar {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
  .phname, .number, .top {
    margin-top: 5%;
  }
  .check {
    margin-top: 20%;
  }
  .threeitems {
    gap: 5%;
  }
  .counsel {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 670px) {
.check {
  margin-top: 50%;
}
}
@media screen and (max-width: 505px) {
  .photo {
    width: 100%;
  }
  .phname {
    width: 100%;
  }
  .find {
    display: none;
  }
  .connect {
    margin-inline: 50px;
  }
   .knowing {
    margin-inline: -50px;
  }
}
@media screen and (max-width: 400px) {
  .photo {
    width: 100%;
  }
  .threeitems {
    margin-bottom: 10%;
    gap: 5%;
  }
  .phname {
    width: 100%;
  }
  .drname {
    margin-bottom: 20%;
  }
  .containerFluid {
    margin-inline-start: 50px;
    margin-inline-end: 50px;
  }
  .knowing {
    margin-inline: -80px;
  }
}
