
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Black.ttf);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy-SemiBold\ -\ Copy.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.ttf);
}
body {
  margin: 0 auto;
  font-size: 16px;
   width: 100%;
}
.full {
  overflow: auto;
}
.container-fluid {
  display: flex;
  flex-wrap: wrap; 
  max-width: 1800px;
}
.Dep {
  position: relative;
  width: 243px;
  height: 46px;
  font-family: "Alice", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 46px;
  text-transform: uppercase;
  color: #000b0c;
  margin-top: 140px;
  margin-inline-start: 100px;
  margin-bottom: 30px;
}
.content {
  position: relative;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 160px;
  font-family: "Gilroy-Regular";
  font-size: 24px;
  line-height: 40px;
  color: #000b0c;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  margin-top: 30px;
}
.main {
  position:relative;
  display: grid;
  grid-template-columns: 2fr 4fr;
  overflow: hidden;
  margin-top:100px;
  margin-inline-end: 100px;
  width: 100%;
}
.psychologist {
  overflow: hidden;
}
.threeitems {
  position: relative;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.label {
  position: relative;
  margin-inline-start: 26px;
  width: 347px;
  height: 40px;
  top: 5px;
  font-family: "Gilroy-Regular";
  font-size: 1.125em;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000b0c;
  gap: 0.5em;
}
.title {
  width: 88px;
  height: 40px;
  margin-inline-start: 26px;
  top: 19px;
  font-family: "Gilroy-Regular";
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  background: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 387px;
  margin-inline-start: 100px;
  margin-inline-end: 20px;
  margin-bottom: 1425px;
  padding-bottom: 43px;
  background: #fafefe;
  border: 0.2px solid #02979d;
  box-shadow: 0px 1px 25px rgba(2, 151, 157, 0.1);
}
.filter {
  position: relative;
  width: 65px;
  height: 40px;
  margin-inline-start: 26px;
  margin-bottom: 26px;
  margin-top: 12px;
  font-family: "Gilroy-SemiBold";
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  background: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.top {
  width: 140px;
  height: 56px;
  background: #fafefe;
  border-radius: 10px;
  border: 0.5px solid #02979d;
}
.Trated {
  width: 88.83px;
  height: 40px;
  font-family: "Gilroy-Regular",sans-serif;
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
  align-items: center;
  color: #000b0c;
}
.phname {
  border-radius: 10px;
  border: 0.5px solid #02979d;
  height: 56px;
  width: 420px;
}
::placeholderr {
  font-family: "Gilroy-Regular", sans-serif;
  padding-inline-start: 10px;
}
.find {
  width: 129px;
  height: 56px;
  background-color: #02979d;
  color: #fafefe;
  border: 0.5px solid #02979d;
  border-radius: 10px;
  margin-inline-start: -129px;
  font-size: 20px;
  font-family: "Gilroy-Bold", sans-serif;
}
.fitext {
  font-family: "Gilroy-bold", sans-serif;
  width: 65px;
  height: 25px;
  line-height: 100%;
  font-size: 20px;
  vertical-align: center;
  display: flex;
  text-align: center;
  padding-inline-start: 16%;
}
.number {
  width: 165px;
  height: 40px;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  position: relative;
  color: #02979d;
  padding-top: 5px;
}

.justnow {
  font-family: "Gilroy-Bold", sans-serif;
  width: 156px;
  height: 25px;
  font-size: 20px;
  line-height: 23.44px;
  position: relative;
}
.counsel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 486px;
  height: 50px;
  margin-top: 1rem;
  border-radius: 35px;
  border: 0.5px solid #02979d;
  padding: 5px 155px;
  background-color: #02979d;
  color: #ffffff;
  text-decoration: none;
}
.counsel:hover {
  color: #ffffff;
}
.drname {
  margin-top: 1.5rem;
  height: 24px;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 20px;
  line-height: 100%;
  vertical-align: top;
  color: #000b0c;
}
.dreducation {
  margin-top: 0.75rem;
  height: 19px;
  font-family: "Gilroy-Regular",sans-serif;
  font-size: 16px;
  line-height: 100%;
  vertical-align: top;
  color: #000b0c;
}
.star {
  width: 18px;
  height: 18px;
  margin-inline-end: 5px;
  margin-top: -4px;
}
.rate {
  margin-top: 1.5rem;
  width: 21px;
  height: 14px;
  padding-top: 20px;
  font-family: "Gilroy-Regular",sans-serif;
  font-size: 16px;
  line-height: 100%;
  text-align: left;
  color: #000b0c;
}
.experience {
  margin-top: 1.5rem;
  width: 160px;
  height: 19px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  line-height: 100%;
  text-align: left;
  margin-inline-start: 38px;
  color: #000b0c;
}
.bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 26px;
  margin-bottom: 20px;
  max-width: 760px;
  height: 258px;
  border-width: 0.2px;
  box-shadow: 0px 1px 25px rgba(2, 151, 157, 0.1);
}
.field {
  position: relative;
  font-family: "Gilroy-Regular", sans-serif;
  margin-top: 21px;
  font-size: 14px;
  line-height: 40px;
  vertical-align: center;
  color: #000b0c;
}
.bgfield1,
.bgfield2,
.bgfield3 {
  height: 40px;
  color: rgba(2, 151, 157, 0.08);
  background-color: #ecf7f7;
  margin-top: 23px;
  margin-inline-end: 8px;
}
.bgphoconsult,
.bgtxconsult {
  position: relative;
  width: 170px;
  height: 42px;
  margin-bottom: 8px;
  margin-top: 20px;
  margin-inline-start: -28px;
}
.bgphoconsult {
  background-color: #ecf7f7;
}
.bgtxconsult {
  background-color: #FDF5E9;
}
.phoconsult,
.txconsult {
  position: relative;
  width: 126px;
  height: 15.52px;
  font-size: 14px;
  text-align: start;
  margin-inline-start: 14.08px;
  color: #000b0c;
  top: 8px;
}
.bgfield1 {
  width: 87px;
}
.bgfield2 {
  width: 64px;
}
.bgfield3 {
  width: 139px;
}
@media screen and (max-width: 1200px) {
  body {
    background-color: rgb(236, 201, 201);
  }
  .visit {
    display: flex;
    flex-direction: column;
  }
 .phname {
  margin-top: 10px;
 }
  .number {
    display: none;
  }
 
}
@media screen and (max-width: 900px) {
  body {
    background-color: rgb(226, 243, 226);
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(203, 203, 240);

  }
}

