.Dep {
  position: absolute;
  width: 243px;
  height: 46px;
  font-family: "Alice";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  color: #000b0c;
  margin-top: 379px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.content {
  position: absolute;
  text-align: justify;
  height: 160px;
  font-family: "Gilroy-Regular";
  font-size: 24px;
  line-height: 40px;
  color: #000b0c;
  margin-left: 100px;
  margin-top: 455px;
  margin-bottom: 100px;
  margin-right: 100px;
}
.label {
  margin-left: 26px;
  width: 347px;
  height: 40px;
  top: 831px;
  font-family: "Gilroy-Regular";
  font-size: 18px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000b0c;
  gap: 7px;
}
.title {
  width: 88px;
  height: 40px;
  margin-left: 26px;
  top: 786px;
  font-family: "Gilroy-Regular";
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  background: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.box {
  box-sizing: border-box;
  width: 387px;
  margin-left: 100px;
  margin-top: 715px;
  margin-bottom: 1425px;
  margin-right: 940px;
  padding-bottom: 43px;
  top: 21.33%;
  bottom: 60.32%;
  background: #fafefe;
  border: 0.2px solid #02979d;
  box-shadow: 0px 1px 25px rgba(2, 151, 157, 0.1);
}
.filter {
  position: relative;
  width: 65px;
  height: 40px;
  margin-left: 26px;
  margin-bottom: 26px;
  margin-top: 12px;
  font-family: "Gilroy-SemiBold";
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  background: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
