
@font-face {
  font-family: "Alice";
  src: url(../fonts/Alice-Regular.ttf);
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy-Light.ttf);
}

body {
  font-size: 16px;
  margin: 0 auto;
}
.master {
 margin-inline-start: 85px;
  margin-inline-end: 85px;
}
.regbar {
    max-width: 1240px;
    min-height: 260px;
    border: 1px solid #02979D;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.seminarimg {
    height: 260px;
    padding: 20px;
}
.regbar-image {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.seminarexp {
    padding: 20px;
}
.seminarheading {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: #02979D;
    text-transform: capitalize;
}
.seminardateprice {
font-family: "Gilroy-Regular", sans-serif;
font-size: 16px;
line-height: 40px;
display: grid;
grid-template-columns: 1fr 1fr;
}
.seminarwords {
 font-family: "Gilroy-Regular", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 40px;
}
.seminarguest {
font-family: "Gilroy-Regular", sans-serif;
font-size: 16px;
line-height: 40px;
display: grid;
grid-template-columns: 1fr 1fr;
text-transform: capitalize;
}
.guestIntroN {
text-transform: capitalize;
}
.guestimg {
width: 35px;
height: 35px;
border-radius: 50px;
margin-inline-end: 5px;
}
.seminartags span {
font-family: "Gilroy-Regular", sans-serif;
font-size: 16px;
line-height: 60px;
margin-inline-end: 5px;
background-color: #ecf7f7;
padding: 10px;
text-transform: capitalize;
}
.seminarInfo {
    max-width: 1240px;
    min-height: 860px;
    border: 0.2px solid #02979D;
border-image: linear-gradient(to bottom, #02979D 0%, #00888D 100%);
border-image-slice: 1;
    margin-bottom: 35px;
    padding: 20px;
}
.btn-card {
font-family: "Gilroy-Regular", sans-serif;
  padding: 12px;
  padding-inline: 2rem;
  max-width: 200px;
  height: 48px;
  background: #02979d;
  border: 1px solid #02979d;
  border-radius: 28px;
  text-decoration: none;
  margin-bottom: 110px;
font-family: "Gilroy-Regular", sans-serif;
  display: flex;
justify-content: center;
margin-left: auto;
width: 100%;
}
.guestIntro {
     font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: #02979D;
    text-transform: uppercase;
}
.guestIntrowords {
    font-family: "Gilroy-Regular", sans-serif;
font-size: 16px;
line-height: 40px;
}
.seminarheadingw {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;
}
.courseinfo {
  font-family: "Gilroy-Regular", sans-serif;
font-size: 16px;
line-height: 40px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin-bottom: 20px;
}
.coachintro {
  font-family: "Gilroy-Regular", sans-serif;
font-size: 16px;
line-height: 40px;
}
.coursewords {
  font-family: "Gilroy-Regular", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.btn-addcard {
  font-family: "Gilroy-Regular", sans-serif;
  padding: 12px;
  padding-inline: 2rem;
  max-width: 200px;
  height: 48px;
  background: #02979d;
  border: 1px solid #02979d;
  border-radius: 28px;
  text-decoration: none;
font-family: "Gilroy-Regular", sans-serif;
  display: flex;
justify-content: center;
width: 100%;
}
.courseInfo {
    max-width: 1240px;
    min-height: 560px;
    border: 0.2px solid #02979D;
border-image: linear-gradient(to bottom, #02979D 0%, #00888D 100%);
border-image-slice: 1;
    margin-bottom: 35px;
    padding: 20px; 
}
.coachcomment {
display: flex;
align-items: center;
flex-wrap: wrap;
}
.coachcomment span {
  font-family: "Gilroy-Regular", sans-serif;
  color: #02979D;
  font-size: 15px;
}
.commentbar {
 max-width: 1240px;
  min-height: 260px;
  border: 1px solid #02979D;
  padding: 20px;
}
.commenttext {
   font-family: "Gilroy-Regular", sans-serif;
   font-size: 15px;
   line-height: 36px;
}
.time {
   margin-left: auto;
}
.coachimg {
  width: 50px;
height: 50px;
border-radius: 50px;
margin-inline-end: 10px;
}
.cart {
  margin-inline: 85px;
  padding-top: 40px;
  padding-bottom: 100px;
}
.cartH {
  font-family: "Alice", sans-serif;
  font-size: 2.5em;
  margin-bottom: 30px;
}
.cartlisttitle, .reservedlist {
  display: grid;
  grid-template-columns:  1fr 1fr 4fr 1fr 1fr;
}
.cartlisttitle {
 font-family: "Gilroy-Regular", sans-serif;
   font-size: 18px;
   color: #02979D;
border-bottom: 0.2px solid rgba(2, 151, 157, 1);
}
.reservedlist {
   font-family: "Gilroy-Regular", sans-serif;
  font-size: 15px;
   color: rgba(0, 11, 12, 1);
border-bottom: 0.2px solid rgba(190, 190, 190, 1);
padding-top: 15px;
padding-bottom: 12px;
}
.deleteItem {
  cursor: pointer;
}


@media screen and (max-width: 1100px) {
  .courseinfo {
display: grid;
grid-template-columns: 1fr 1fr;
margin-bottom: 20px;
}
.coursewords {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
} 
}
@media screen and (max-width: 900px) {
.cartlisttitle {
  display: none;
}
.reservedlist {
  grid-template-columns:  1fr; 
  display: flex;
  flex-direction: column;
}
}

@media screen and (max-width: 800px) {
.regbar {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
}
}
@media screen and (max-width: 500px) {
.master {
    margin-inline: 40px;
}
.seminardateprice, .seminarguest {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
}
}
@media screen and (max-width: 450px) {
 .courseinfo {
display: grid;
grid-template-columns: 1fr;
margin-bottom: 20px;
}
}