* {
  box-sizing: border-box;
}
body {
  margin-left: 100px;
  z-index: 0;
  width: 100%;
  
}
.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 126px;
  padding-left: 100px;
  padding-right: 100px;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #ecf7f7;
  position: absolute;
  width: 100%;
  height: 126px;
  margin-left: 0px;
  margin-top: 113px;
  padding-left: 100px;
  padding-right: 97px;
  margin-left: -100px;
  z-index: 1;
}
.nav-right {
  font-family: "Gilroy-Black";
  font-size: 32px;
  line-height: 37.5px;
  color: #02979d;
  margin-top: 43px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.nav-left {
  width: 66px;
  height: 40px;
  font-family: "Gilroy-Regular";
  font-size: 24px;
  line-height: 40px;
}
.ul {
  margin-top: 43px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 50px;
  text-align: center;
  list-style: none;
}
.list {
  flex: none;
  order: 0;
  flex-grow: 0;
}
.link {
  color: #000b0c;
  text-decoration: none;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}
.btn-head {
  padding: 10px;
  margin-right: 5px;
  position: flex;
  flex-direction: row;
  width: 134px;
  height: 50px;
  background: #02979d;
  border: 1px solid #02979d;
  border-radius: 35px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.login {
width: 51px;
height: 25px;
font-family: 'Gilroy-Bold';
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: right;
font-feature-settings: 'ss02' on;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}
.svg {
width: 24px;
height: 24px;
flex: none;
order: 0;
flex-grow: 0;
margin-right: 7.5px;
}
