@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy"), url(./fonts/Gilroy-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(./fonts/Gilroy-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy-Black";
  src: url(./fonts/Gilroy-Black.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(./fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(./fonts/Gilroy-SemiBold.ttf);
}
body {
  font-family: "Gilroy", sans-serif;
  background: transparent;
  box-sizing: border-box;
 
}

.header {
  display: flex;
  font-family: "Gilroy-Regular", sans-serif;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  height: 126px;
  padding-inline-start: 84px;
  padding-inline-end: 84px;
  max-width: 1800px;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #ecf7f7;
  position: relative;
  width: 100%;
  height: 126px;
  padding-inline-start: 100px;
  padding-inline-end: 97px;
  max-width: 1800px;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  height: 40px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
}
.nav-left {
  font-family: "Gilroy-Black", sans-serif;
  font-size: 32px;
  line-height: 37.5px;
  color: #02979d;
  margin-top: 43px;
}
.ul {
  margin-top: 43px;
  display: inline-block;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: right;
  gap: 50px;
  text-align: center;
  list-style: none;
}
.list {
  flex: none;
  order: 0;
  flex-grow: 0;
}
.link {
  color: #000b0c;
  text-decoration: none;
}
.buttons {
  font-family: "Gilroy-Regular", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 31px;
}
.btn-head {
  font-family: "Gilroy-Regular", sans-serif;
  padding: 10px;
  margin-right: 1rem;
  padding-inline-start: 25px;
  position: flex;
  flex-direction: row;
  width: 134px;
  height: 50px;
  background: #02979d;
  border: 1px solid #02979d;
  border-radius: 35px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.login {
  width: 51px;
  height: 25px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.svg {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 7.5px;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  padding-inline-start: 20px;
  max-width: 315px;
  height: 50px;
  top: 32px;
  background: #fafefe;
  border: 1px solid #bebebe;
  border-radius: 30px;
}
::placeholder {
  background-image: url(./icons/search-normal.svg);
  background-repeat: no-repeat;
  background-position: left;
  margin-inline-start: 5px;
  padding-inline-start: 30px;
  position: relative;
  padding: 2rem;
  max-width: 79px;
  height: 21px;
  top: 1px;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #bebebe;
}
.calls {
  margin-top: 31px;
  display: flex;
  justify-content: center;
  margin-inline-start: 3rem;
}
.call {
  justify-content: center;
  margin-right: 1rem;
  width: 50px;
  height: 50px;
  fill: #eda12f !important;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.language {
  background: transparent;
}
.Country {
  position: flex;
  align-items: center;
  margin-top: 7px;
  margin-inline-start: 35px;
  bottom: 46.62px;
  left: 31.25%;
  right: 67.01%;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
  line-height: 0px;
  text-transform: capitalize;
  background-size: 0;
}
.toggle {
  margin-top: 5px;
}
.flag {
  left: 28.82%;
  right: 69.24%;
  top: 1.4%;
  bottom: 98.02%;
}
body {
  font-size: 16px;
}

.CompInfo {
  width: 100%;
}
.main-container {
  background: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
  display: grid;
  grid-template-columns: 4fr 4fr 5fr;
  padding-inline-start: 100px;
  padding-inline-end: 74px;
  height: 597px;
  gap: 52px;
  padding-top: 2rem;
  max-width: 1800px;
  min-width: 100%;
}
.column {
  width: 100%;
}
.column:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}
.inner-column {
  display: flex;
  flex-direction: column;
}
.fh1 {
  height: 40px;
  font-family: "Gilroy-Black", sans-serif;
  font-size: 2em;
  line-height: 38px;
  color: #fafefe;
}
.ftext {
  height: 328px;
  margin-top: 12px;
  margin-bottom: 101.15px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 1.25em;
  line-height: 40px;
  color: #ffffff;
}

.fcalls {
  display: flex;
  width: 100%;
  gap: 10px;
}
.fcall {
  width: 100%;
  height: 50px;
  border-radius: 10px;
}
.fh2 {
  height: 30px;
  margin-top: 5px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.5em;
  line-height: 28px;
  text-transform: uppercase;
  color: #fafefe;
}
.formn,
.forme,
.formm {
  width: 100%;
  background: #fafefe;
  border-radius: 15px;
  border: 1px solid #fafefe;
}
.formn,
.forme {
  height: 55px;
}
.formm {
  height: 175px;
}
.fname,
.femail,
.fmessage {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 1.25em;
  line-height: 40px;
  color: #ffffff;
}

.fsmessage {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 50px;
  margin-inline: 15%;
  margin-top: 32px;
  background: #fafefe;
  border-radius: 35px;
  border: 1px solid #fafefe;
}
.fbt {
  position: relative;
  top: 25%;
  max-width: 135px;
  height: 25px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.25em;
  line-height: 23px;
  background: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.web {
  padding-top: 6px;
}
.fh22 {
  height: 30px;
  top: 38px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.5em;
  line-height: 28px;
  text-transform: uppercase;
  color: #fafefe;
}
.fqaccess {
  height: 25px;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 1.25em;
  line-height: 23.44px;
  color: #fafefe;
  text-decoration: none;
  padding-top: 55px;
}

.fqaccess:hover {
  text-decoration: none;
  color: #fafefe;
  cursor: pointer;
}
.bottom {
  grid-column: span 2;
   bottom: 20px;
   height: 40px; 
   line-height: 40px;
  text-transform: capitalize;
color: #ffffff;
font-family: "Gilroy-Regular", sans-serif;
  font-size: 0.96em;
  width: 100%;
}


@media screen and (max-width: 1200px) {
  .call {
    display: none;
  }
  body {
    margin-bottom: 0;
  }
  .main-container {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 1fr;
  }
  .web {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 100%;
    box-sizing: border-box;
    padding: auto;
    height: auto;
    padding-bottom: 30px;
  }
  .web {
    display: none !important;
  }
  .search {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 30px; 
  }
 
 
  .main-container > :last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .web {
    display: block !important;
  }
}
@media screen and (max-width: 450px) {
 .fcalls {
   display: grid;
   grid-template-columns: 2fr 2fr 2fr;
   margin-top: 100%;
  }
}