
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
  src: url(../fonts/Gilroy-Regular.woff);
  src: url(../fonts/Gilroy-Regular.eot);
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(../fonts/Gilroy-Bold.ttf);
  src: url(../fonts/Gilroy-Bold.woff);
  src: url(../fonts/Gilroy-Bold.eot);
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy-Black";
  src: url(../fonts/Gilroy-Black.ttf);
  src: url(../fonts/Gilroy-Black.woff);
  src: url(../fonts/Gilroy-Black.eot);
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.ttf);
  src: url(../fonts/Gilroy-Medium.woff);
  src: url(../fonts/Gilroy-Medium.eot);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy-SemiBold.ttf);
  src: url(../fonts/Gilroy-SemiBold.woff);
  src: url(../fonts/Gilroy-SemiBold.eot);
}

body {
  background: transparent;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 5fr 3fr 6fr 7fr;
  padding-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 126px;
  padding-inline-start: 6%;
  padding-inline-end: 6%;
  max-width: 1800px;
}
.nav {
  background-color: #ecf7f7;
  width: 100%;
  height: 126px;
  padding-inline-start: 100px;
  padding-inline-end: 97px;
  max-width: 1800px;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  height: 40px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
}
.nav-left {
  font-family: "Gilroy-Black", sans-serif;
  font-size: 32px;
  line-height: 37.5px;
  color: #02979d;
  margin-top: 43px;
}

.link {
  color: #000b0c;
  text-decoration: none;
}
.buttons {
  font-family: "Gilroy-Regular", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 31px;
}
.btn-head {
  font-family: "Gilroy-Regular", sans-serif;
  padding: 12px;
  margin-inline-end: 1rem;
  padding-inline: 1.5rem;
  width: 134px;
  height: 50px;
  background: #02979d;
  border: 1px solid #02979d;
  border-radius: 35px;
  text-decoration: none;
}

.login {
  width: 51px;
  height: 25px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: start;
  color: #ffffff;
}
.login:hover {
  color: #ffffff;
}
.svg {
  width: 24px;
  height: 24px;
  margin-right: 7.5px;
}
.search {
  display: flex;
  justify-content: center;
  padding-inline: 20px;
  width: 315px;
  height: 50px;
  margin-top: 1.5rem;
  background: #fafefe;
  border: 1px solid #bebebe;
  border-radius: 30px;
  margin-block-start: 10%;
  margin-inline-end: 15%;
}
::placeholder {
  background-image: url(./icons/search-normal.svg);
  background-repeat: no-repeat;
  background-position: left;
  margin-inline-start: 5px;
  padding-inline-start: 30px;
  position: relative;
  padding: 2rem;
  max-width: 79px;
  height: 21px;
  top: 1px;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #bebebe;
}
.calls {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: fit-content;
}
.call {
  margin-bottom: 0.5rem;
  justify-content: center;
  margin-right: 1rem;
  width: 50px;
  height: 50px;
  fill: #eda12f !important;
  border-radius: 10px;
}
.language {
  background: transparent;
  margin-top: 17%;
}
.Country {
  position: flex;
  align-items: center;
  margin-top: 7px;
  margin-inline-start: 35px;
  bottom: 46.62px;
  left: 31.25%;
  right: 67.01%;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
  line-height: 0px;
  text-transform: capitalize;
  background-size: 0;
}
.toggle {
  margin-top: 5px;
}
.flag {
  left: 28.82%;
  right: 69.24%;
  top: 1.4%;
  bottom: 98.02%;
}
body {
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
}
.main-container {
  background: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
  display: grid;
  grid-template-columns: 4fr 4fr 5fr;
  padding-inline-start: 7%;
  padding-inline-end: 5%;
  min-height: 597px;
  gap: 5%;
  padding-top: 33px;
}
.column {
  width: 100%;
}
.column:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
}
.inner-column {
  display: flex;
  flex-direction: column;
}
.fh1 {
  font-family: "Gilroy-Black", sans-serif;
  font-size: 32px;
  line-height: 37.5px;
  color: #fafefe;
}
.ftext {
  height: 328px;
  margin-top: 12px;
  margin-bottom: 101.15px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}
.fcalls {
  display: flex;
  width: 100%;
  gap: 10px;
}
.fcall {
  width: 100%;
  height: 50px;
  border-radius: 10px;
}
.fh2 {
  height: 30px;
  margin-top: 5px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.5em;
  line-height: 28px;
  text-transform: uppercase;
  color: #fafefe;
}
.formn,
.forme,
.formm {
  width: 100%;
  background: #fafefe;
  border-radius: 15px;
  border: 1px solid #fafefe;
}
.formn,
.forme {
  height: 55px;
}
.formm {
  height: 175px;
}
.fname,
.femail,
.fmessage {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 1.25em;
  line-height: 40px;
  color: #ffffff;
}

.fsmessage {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 50px;
  margin-inline: 15%;
  margin-top: 32px;
  background: #fafefe;
  border-radius: 35px;
  border: 1px solid #fafefe;
}
.fbt {
  position: relative;
  top: 25%;
  max-width: 135px;
  height: 25px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.25em;
  line-height: 23px;
  background: linear-gradient(100.35deg, #02979d 7.72%, #00888d 92.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.web {
  padding-top: 6px;
}
.fh22 {
  height: 30px;
  top: 38px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 1.5em;
  line-height: 28px;
  text-transform: uppercase;
  color: #fafefe;
}
.fqaccess {
  height: 25px;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 1.25em;
  line-height: 23.44px;
  color: #fafefe;
  text-decoration: none;
  padding-top: 55px;
}

.fqaccess:hover {
  text-decoration: none;
  color: #fafefe;
  cursor: pointer;
}
.bottom {
  grid-column: span 2;
  bottom: 20px;
  height: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: #ffffff;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 0.96em;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  min-height: 126px;
}

.menu-icon {
  display: none;
}
.logo {
  font-family: "Gilroy-Black", sans-serif;
  font-size: 32px;
  line-height: 37.5px;
  color: #02979d;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-inline-end: 50px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #000b0c;
  text-decoration: none;
}

.nav-elements ul a.active {
  position: relative;
}

.nav-elements ul a.active::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ecf7f7;
  color: #02979d;
}

@media screen and (max-width: 1200px) {
  .main-container {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    width: 100%;
    padding-bottom: 15%;
  }
}
@media screen and (max-width: 1100px) {
.header {
  grid-template-columns: 5fr 3fr 6fr;
  grid-template-rows: auto;
  width: 100%;
}
}
@media screen and (max-width: 900px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 100%;
    box-sizing: border-box;
    padding: auto;
    height: auto;
    padding-bottom: 15%;
  }
  .header {
    flex-wrap: wrap;
    padding-inline-start: 4%;
    padding-inline-end: 4%;
  }
}

@media screen and (max-width: 850px) {
.header {
  grid-template-columns: 4fr 4fr;
  grid-template-rows: auto;
  width: 100%;
}
.language {
  margin-top: 9%;
}
}
@media screen and (max-width: 768px) {
  .header {
  grid-template-columns: 4fr 4fr;
  grid-template-rows: auto;
}
.language {
  margin-top: 0;
}
.search{
  width: 215px;
}
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 100%;
    box-sizing: border-box;
    padding: auto;
    height: auto;
    padding-bottom: 25%;
  }
  .nav-elements ul li:not(:last-child) {
    margin-inline-start: 25px;
  }
  .header {
    height: auto;
    padding-inline-start: 2%;
    padding-inline-end: 2%;
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .btn-head {
    margin-bottom: 0.5rem;
  }
  .search {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .calls {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 700px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .language {
    text-align: center;
  }
  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #ecf7f7;
    width: 0px;
    z-index: 10;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }
  .nav-elements.active {
    width: 270px;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }
  .nav-elements ul li {
    margin-inline-start: unset;
    margin-top: 22px;
  }
}
@media screen and (max-width: 600px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 30px;
  }
  .main-container > :last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .flag {
    margin-inline-end: 40%;
  }
}
